@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --color-icon: #ff4c24;
  --animate-fadeIn: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.separation-line {
  width: 100%;
  border: none;
  height: 1.5px;
  background-color: #e66a1182;
  margin: 5px 0;
}
